.Post {
  margin-bottom: 15px;
}

.postHeader {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.avatar {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background-size: cover;
  background-position: center;
}

.userName {
  margin-right: 10px;
  font-weight: bold;
  color: inherit;
}

.userName:hover {
  color: inherit;
}

.date {
  color: #6c757d;
}

.postFooter {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.like {
  color: #6c757d;
  cursor: pointer;
  margin-right: 2px;
}

.like:hover {
  color: red;
}

.like.red {
  color: red;
}

.like.red:hover {
  color: #6c757d;
}

.likesCount {
  position: relative;
  bottom: -2px;
  font-size: 0.8rem;
  margin-right: 10px;
  align-self: flex-end;
}

.comments {
  position: relative;
  bottom: 1.5px;
  color: #6c757d;
  cursor: pointer;
}

.comments:hover {
  color: black;
}

.dropDownButton {
  align-self: flex-start;
  margin-left: auto;
  cursor: pointer;
}

.editComment textarea {
  margin-bottom: 15px;
  resize: none;
  overflow: hidden;
}

.editCommentButtons {
  display: flex;
  justify-content: flex-end;
}

.editCommentButtons button:last-child {
  margin-left: 10px;
}

.hide {
  display: none;
}
